<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>award_turn</key>
	<string>sounds/award_turn.mp3</string>
	<key>turntable</key>
	<string>sounds/turntable.mp3</string>
	<key>bomb</key>
	<string>sounds/bomb.mp3</string>
	<key>click</key>
	<string>sounds/click.mp3</string>
	<key>energy</key>
	<string>sounds/energy.mp3</string>
	<key>get_gold</key>
	<string>sounds/get_gold.mp3</string>
	<key>gold_down</key>
	<string>sounds/gold_down.mp3</string>
	<key>gun</key>
	<string>sounds/gun.mp3</string>
	<key>gun_up</key>
	<string>sounds/gun_up.mp3</string>
	<key>level_up</key>
	<string>sounds/level_up.mp3</string>
	<key>lost</key>
	<string>sounds/lost.mp3</string>
	<key>matching</key>
	<string>sounds/matching.mp3</string>
	<key>mfish_0</key>
	<string>sounds/mfish_0.mp3</string>
	<key>mfish_1</key>
	<string>sounds/mfish_1.mp3</string>
	<key>mfish_2</key>
	<string>sounds/mfish_2.mp3</string>
	<key>mfish_3</key>
	<string>sounds/mfish_3.mp3</string>
	<key>mfish_4</key>
	<string>sounds/mfish_4.mp3</string>
	<key>mfish_5</key>
	<string>sounds/mfish_5.mp3</string>
	<key>mfish_6</key>
	<string>sounds/mfish_6.mp3</string>
	<key>mfish_7</key>
	<string>sounds/mfish_7.mp3</string>
	<key>mfish_8</key>
	<string>sounds/mfish_8.mp3</string>
	<key>mfish_9</key>
	<string>sounds/mfish_9.mp3</string>
	<key>mfish_10</key>
	<string>sounds/mfish_10.mp3</string>
	<key>mfish_11</key>
	<string>sounds/mfish_11.mp3</string>
	<key>mfish_12</key>
	<string>sounds/mfish_12.mp3</string>
	<key>mfish_13</key>
	<string>sounds/mfish_13.mp3</string>
	<key>mfish_14</key>
	<string>sounds/mfish_14.mp3</string>
	<key>mfish_15</key>
	<string>sounds/mfish_15.mp3</string>
	<key>mfish_16</key>
	<string>sounds/mfish_16.mp3</string>
	<key>mfish_17</key>
	<string>sounds/mfish_17.mp3</string>
	<key>mfish_18</key>
	<string>sounds/mfish_18.mp3</string>
	<key>mfish_19</key>
	<string>sounds/mfish_19.mp3</string>
	<key>mfish_20</key>
	<string>sounds/mfish_20.mp3</string>
	<key>mfish_21</key>
	<string>sounds/mfish_21.mp3</string>
	<key>mfish_22</key>
	<string>sounds/mfish_22.mp3</string>
	<key>mfish_23</key>
	<string>sounds/mfish_23.mp3</string>
	<key>mfish_29</key>
	<string>sounds/mfish_29.mp3</string>
	<key>mfish_31</key>
	<string>sounds/mfish_31.mp3</string>
	<key>mfish_no</key>
	<string>sounds/mfish_no.mp3</string>
	<key>mygold</key>
	<string>sounds/mygold.mp3</string>
	<key>scene_conver</key>
	<string>sounds/scene_conver.mp3</string>
	<key>spray</key>
	<string>sounds/spray.mp3</string>
	<key>tide_come</key>
	<string>sounds/tide_come.mp3</string>
	<key>time_over</key>
	<string>sounds/time_over.mp3</string>
	<key>warning</key>
	<string>sounds/warning.mp3</string>
	<key>win</key>
	<string>sounds/win.mp3</string>
</dict>
</plist>
