<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>award_turn</key>
	<string>sounds_android/award_turn.ogg</string>
	<key>turntable</key>
	<string>sounds_android/turntable.ogg</string>
	<key>bomb</key>
	<string>sounds_android/bomb.ogg</string>
	<key>click</key>
	<string>sounds_android/click.ogg</string>
	<key>energy</key>
	<string>sounds_android/energy.ogg</string>
	<key>get_gold</key>
	<string>sounds_android/get_gold.ogg</string>
	<key>gold_down</key>
	<string>sounds_android/gold_down.ogg</string>
	<key>gun</key>
	<string>sounds_android/gun.ogg</string>
	<key>gun_up</key>
	<string>sounds_android/gun_up.ogg</string>
	<key>level_up</key>
	<string>sounds_android/level_up.ogg</string>
	<key>lost</key>
	<string>sounds_android/lost.ogg</string>
	<key>matching</key>
	<string>sounds_android/matching.ogg</string>
	<key>mfish_0</key>
	<string>sounds_android/mfish_0.ogg</string>
	<key>mfish_1</key>
	<string>sounds_android/mfish_1.ogg</string>
	<key>mfish_2</key>
	<string>sounds_android/mfish_2.ogg</string>
	<key>mfish_3</key>
	<string>sounds_android/mfish_3.ogg</string>
	<key>mfish_4</key>
	<string>sounds_android/mfish_4.ogg</string>
	<key>mfish_5</key>
	<string>sounds_android/mfish_5.ogg</string>
	<key>mfish_6</key>
	<string>sounds_android/mfish_6.ogg</string>
	<key>mfish_7</key>
	<string>sounds_android/mfish_7.ogg</string>
	<key>mfish_8</key>
	<string>sounds_android/mfish_8.ogg</string>
	<key>mfish_9</key>
	<string>sounds_android/mfish_9.ogg</string>
	<key>mfish_10</key>
	<string>sounds_android/mfish_10.ogg</string>
	<key>mfish_11</key>
	<string>sounds_android/mfish_11.ogg</string>
	<key>mfish_12</key>
	<string>sounds_android/mfish_12.ogg</string>
	<key>mfish_13</key>
	<string>sounds_android/mfish_13.ogg</string>
	<key>mfish_14</key>
	<string>sounds_android/mfish_14.ogg</string>
	<key>mfish_15</key>
	<string>sounds_android/mfish_15.ogg</string>
	<key>mfish_16</key>
	<string>sounds_android/mfish_16.ogg</string>
	<key>mfish_17</key>
	<string>sounds_android/mfish_17.ogg</string>
	<key>mfish_18</key>
	<string>sounds_android/mfish_18.ogg</string>
	<key>mfish_19</key>
	<string>sounds_android/mfish_19.ogg</string>
	<key>mfish_20</key>
	<string>sounds_android/mfish_20.ogg</string>
	<key>mfish_21</key>
	<string>sounds_android/mfish_21.ogg</string>
	<key>mfish_22</key>
	<string>sounds_android/mfish_22.ogg</string>
	<key>mfish_23</key>
	<string>sounds_android/mfish_23.ogg</string>
	<key>mfish_29</key>
	<string>sounds_android/mfish_29.ogg</string>
	<key>mfish_31</key>
	<string>sounds_android/mfish_31.ogg</string>
	<key>mfish_no</key>
	<string>sounds_android/mfish_no.ogg</string>
	<key>mygold</key>
	<string>sounds_android/mygold.ogg</string>
	<key>scene_conver</key>
	<string>sounds_android/scene_conver.ogg</string>
	<key>spray</key>
	<string>sounds_android/spray.ogg</string>
	<key>tide_come</key>
	<string>sounds_android/tide_come.ogg</string>
	<key>time_over</key>
	<string>sounds_android/time_over.ogg</string>
	<key>warning</key>
	<string>sounds_android/warning.ogg</string>
	<key>win</key>
	<string>sounds_android/win.ogg</string>
</dict>
</plist>
