<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ballistic</key>
	<string>sounds_ios/ballistic.mp3</string>
	<key>boss_come</key>
	<string>sounds_ios/pk.mp3</string>
	<key>happystart</key>
	<string>sounds_ios/happystart.mp3</string>
	<key>turn</key>
	<string>sounds_ios/turn.mp3</string>
	<key>card</key>
	<string>sounds_ios/card.mp3</string>
	<key>missile</key>
	<string>sounds_ios/missile.mp3</string>
	<key>ice</key>
	<string>sounds_ios/ice.mp3</string>
	<key>locking</key>
	<string>sounds_ios/locking.mp3</string>
	<key>award_turn</key>
	<string>sounds_ios/award_turn.mp3</string>
	<key>blast</key>
	<string>sounds_ios/blast.mp3</string>
	<key>click</key>
	<string>sounds_ios/click.mp3</string>
	<key>energy</key>
	<string>sounds_ios/energy.mp3</string>
	<key>get_gold</key>
	<string>sounds_ios/get_gold.m4a</string>
	<key>gold_down</key>
	<string>sounds_ios/gold_down.mp3</string>
	<key>gun</key>
	<string>sounds_ios/gun.mp3</string>
	<key>gun_up</key>
	<string>sounds_ios/gun_up.mp3</string>
	<key>level_up</key>
	<string>sounds_ios/level_up.mp3</string>
	<key>fish2</key>
	<string>sounds_ios/fish2.mp3</string>
	<key>fish7</key>
	<string>sounds_ios/fish7.mp3</string>
	<key>fish8</key>
	<string>sounds_ios/fish8.mp3</string>
	<key>fish9</key>
	<string>sounds_ios/fish9.mp3</string>
	<key>fish10</key>
	<string>sounds_ios/fish10.mp3</string>
	<key>fish11</key>
	<string>sounds_ios/fish11.mp3</string>
	<key>fish12</key>
	<string>sounds_ios/fish12.mp3</string>
	<key>fish13</key>
	<string>sounds_ios/fish13.mp3</string>
	<key>fish14</key>
	<string>sounds_ios/fish14.mp3</string>
	<key>fish15</key>
	<string>sounds_ios/fish15.mp3</string>
	<key>fish16</key>
	<string>sounds_ios/fish16.mp3</string>
	<key>fish50</key>
	<string>sounds_ios/mfish50.mp3</string>
	<key>fish51</key>
	<string>sounds_ios/mfish51.mp3</string>
	<key>fish52</key>
	<string>sounds_ios/mfish52.mp3</string>
	<key>fish53</key>
	<string>sounds_ios/mfish53.mp3</string>
	<key>scene_conver</key>
	<string>sounds_ios/sence_conver.mp3</string>
	<key>tide_come</key>
	<string>sounds_ios/tide_come.mp3</string>
	<key>time_over</key>
	<string>sounds_ios/time_over.mp3</string>
	<key>warning</key>
	<string>sounds_ios/warning.mp3</string>
	<key>win</key>
	<string>sounds_ios/win.mp3</string>
</dict>
</plist>
