<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>share_content</key>
	<string>我正在玩单机捕鱼，遇到了深海BOSS鲨鱼，快来帮我一起打</string>
	<key>get_score</key>
	<string>获得奖励金币</string>
	<key>share_times</key>
	<string>您已成功分享过%d次</string>
	<key>no_exchange_code_enter</key>
	<string>请输入正确的兑换码！</string>
	<key>exchange_err_invalid</key>
	<string>兑换码已失效！</string>
	<key>exchange_err_used</key>
	<string>对不起，你已经领取过了。</string>
	<key>exchange_err_code</key>
	<string>对不起，礼品卡号码错误。</string>
	<key>exchange_success</key>
	<string>恭喜您成功兑换到</string>
	<key>tide_forbid_skill</key>
	<string>潮汐即将来临，无法使用技能</string>
	<key>gold_lack</key>
	<string>金币已不足，请充值</string>
	<key>share_error</key>
	<string>分享出错，请稍后重试</string>
	<key>qq_share_error</key>
	<string>还没安装QQ哦，请安装后重试</string>
	<key>skill_need_unlock</key>
	<string>炸弹要等炮台解锁到2000倍才可以用。</string>
	<key>ray_need_vip</key>
	<string>使用激光炮需要解锁vip</string>
	<key>autofire_need_vip</key>
	<string>使用自动发炮需要解锁vip</string>
	<key>skill_need_diamond</key>
	<string>钻石不足，不能使用技能。</string>
	<key>unlock_need_diamond</key>
	<string>钻石不足，升级失败</string>
	<key>recharge_success</key>
	<string>恭喜你充值成功</string>
	<key>mystery_cannon</key>
	<string>???</string>
	<key>anmie_cannon</key>
	<string>黯灭炮</string>
	<key>weapon_need_vip</key>
	<string>升级VIP可获得新的捕鱼神器！</string>
	<key>room_need_multi_1</key>
	<string>此房间最低炮台倍数为:</string>
	<key>room_need_multi_2</key>
	<string>，请升级炮台</string>
	<key>password_account_error</key>
	<string>登陆用户名或密码错误！</string>
	<key>login_error_title</key>
	<string>登陆失败</string>
	<key>gold_pass_stage</key>
	<string>恭喜你，闯关成功！\n本关收益: </string>
	<key>gold_pass_fail</key>
	<string>游戏失败，再接再厉！</string>
	<key>gold_lack_money</key>
	<string>对不起，你的金币不够！</string>
	<key>gold_ban_challenge</key>
	<string>不能进入挑战</string>
	<key>gold_challenge_exhaust</key>
	<string>亲，你今天的挑战次数已用完，明天再来吧！</string>
	<key>gold_free</key>
	<string>每日首次免费</string>
	<key>gold_ban_rechallenge</key>
	<string>已打过的关卡不能重打！</string>
	<key>gold_stage_open_fail</key>
	<string>开启失败</string>
	<key>gold_need_keys</key>
	<string>需要集齐5把钥匙，去大海里寻找吧！</string>
	<key>gold_box_locked</key>
	<string>无法开启</string>
	<key>gold_box_need_stage</key>
	<string>需要经过10关才能打开它！</string>
	<key>gold_box_has_used</key>
	<string>这个宝箱已经开过了，去找其他的宝藏吧！</string>
	<key>gold_box_open_bound</key>
	<string>你居然找到了宝藏！</string>
	<key>gold_box_open_big_bound</key>
	<string>你居然找到了金山！</string>
	<key>gold_box_open_empty</key>
	<string>你居然啥都没找到！</string>
	<key>gold_box_unlock</key>
	<string>成功开启</string>
	<key>your_money_not_enough</key>
	<string>您金币不够!</string>
	<key>input_format_invalidate</key>
	<string>您输入的字符串不合法!</string>
	<key>save_not_need_password</key>
	<string>存钱不要密码</string>
	<key>fish_room_not_open</key>
	<string>该房间即将开始!</string>
	<key>new_name_input</key>
	<string>请输入新的昵称</string>
	<key>new_password_input</key>
	<string>请输入新的密码</string>
	<key>change_name_success</key>
	<string>修改昵称成功!</string>
	<key>change_pwd_success</key>
	<string>修改密码成功!</string>
	<key>new_nick_name</key>
	<string>新昵称为:</string>
	<key>nick_name_length_invalid</key>
	<string>昵称不能为空!</string>
	<key>pwd_length_invalid</key>
	<string>密码不能为空且长度大于5!</string>
	<key>chat_message_input</key>
	<string>点击这里输入文字.....</string>
	<key>tip_title</key>
	<string>温馨提示</string>
	<key>rank_format_yi</key>
	<string>%.2f亿</string>
	<key>rank_format_wan</key>
	<string>%.2f万</string>
	<key>pk_again_message</key>
	<string>   对方玩家再次对你发起挑战，是否接受挑战?</string>
	<key>pk_req_failed</key>
	<string>请求对战失败!</string>
	<key>match_award_rank</key>
	<string>第%d-%d名</string>
	<key>match_first_award</key>
	<string>第1名</string>
	<key>award_gold</key>
	<string>%d金币</string>
	<key>award_fee</key>
	<string>%.1f元话费</string>
	<key>pk_gold</key>
	<string>%d金币对战赛</string>
	<key>pk_gold_wan</key>
	<string>%d万金币对战赛</string>
	<key>match_gold</key>
	<string>%d金币挑战赛</string>
	<key>match_fee</key>
	<string>%d元话费挑战赛</string>
	<key>enter_price</key>
	<string>参与奖</string>
	<key>match_time_interval</key>
	<string>比赛时间:%02d:00-%02d:00</string>
	<key>match_join_result_1</key>
	<string>不存在此房间。</string>
	<key>match_join_result_2</key>
	<string>比赛尚未开始。</string>
	<key>match_join_result_3</key>
	<string>比赛1分钟之内结束，请倒计时结束后再来报名参加</string>
	<key>match_join_result_4</key>
	<string>您的金币不够。</string>
	<key>match_req_info_status_1</key>
	<string>不存在该房间。</string>
	<key>match_req_info_status_2</key>
	<string>比赛尚未开始。</string>
	<key>tip_count</key>
	<string>5</string>
	<key>tip_0</key>
	<string>凑齐8个藏宝图就可以进入大海宝藏开始夺宝之旅。</string>
	<key>tip_1</key>
	<string>关注我们的微信公众号buyubisai可以参加我们的活动得好礼。</string>
	<key>tip_2</key>
	<string>充值越高，VIP等级越高，就可以得到更强大的炮台。</string>
	<key>tip_3</key>
	<string>捕鱼比赛奖励和成绩在邮件领取和查询。</string>
	<key>tip_4</key>
	<string>VIP玩家每天可以领取VIP礼包，VIP等级越高，领取的金币越多。</string>
	<key>max_level_tip</key>
	<string>恭喜您已经成为超级玩家，已达到最高级！</string>
	<key>recharge_suc_tip</key>
	<string>充值成功!</string>
	<key>modify_success</key>
	<string>修改成功!</string>
	<key>modify_nickname_multi</key>
	<string>该名字已经被使用，请更换新名字在使用。</string>
	<key>modify_face_error</key>
	<string>修改失败，请重试。</string>
	<key>New item</key>
	<string></string>
	<key>back_to_hall</key>
	<string>是否确定返回大厅!</string>
	<key>back_to_logon</key>
	<string>是否确定返回到登入界面!</string>
	<key>exit_game</key>
	<string>是否确定退出游戏!</string>
	<key>room_not_close</key>
	<string>很抱歉, 此游戏房间还未关闭,请先关闭!</string>
	<key>room_close_not_enter</key>
	<string>很抱歉，此游戏房间已经关闭了，不允许继续进入!</string>
	<key>connect_room_failed</key>
	<string>游戏房间连接失败，请检查系统网络配置参数是否正确!</string>
	<key>now_title_format</key>
	<string>您当前的称号是:%s</string>
	<key>honor_notice</key>
	<string>提醒：经验是通过捕鱼获得。炮台倍数越高，经验越高。</string>
	<key>title_0</key>
	<string>水手</string>
	<key>title_1</key>
	<string>渔夫</string>
	<key>title_2</key>
	<string>海贼</string>
	<key>title_3</key>
	<string>猎人</string>
	<key>title_4</key>
	<string>船长</string>
	<key>title_5</key>
	<string>海贼王</string>
	<key>cannon_type_0</key>
	<string>新手炮</string>
	<key>cannon_type_1</key>
	<string>紫苑炮</string>
	<key>cannon_type_2</key>
	<string>寒光炮</string>
	<key>cannon_type_3</key>
	<string>海炎炮</string>
	<key>cannon_type_4</key>
	<string>审判炮</string>
	<key>cannon_type_5</key>
	<string>毒药炮</string>
	<key>cannon_type_6</key>
	<string>冰魄炮</string>
	<key>cannon_type_7</key>
	<string>黯灭炮</string>
	<key>cannon_type_8</key>
	<string>龙渊炮</string>
	<key>money_not_enough</key>
	<string>您的金币已不足!</string>
	<key>TIPS</key>
	<string>宝藏开启说明:</string>
	<key>TIP1</key>
	<string>1、集齐八张藏宝图即可开启宝藏</string>
	<key>TIP2</key>
	<string>2、藏宝图在捕鱼房打水母鱼可获得！</string>
	<key>retry_failed_1</key>
	<string>您的金币不足!</string>
	<key>retry_failed_2</key>
	<string>比赛次数已达到上限!</string>
	<key>retry_failed_3</key>
	<string>比赛时间到了!</string>
	<key>network_time_out</key>
	<string>网络连接超时，请重新登入!</string>
	<key>bad_network_notice</key>
	<string>网络信号差，努力连接中...</string>
	<key>table_bad_network_tip</key>
	<string>网络信号差，返回大厅...</string>
	<key>network_time_out_hall</key>
	<string>网络连接超时!</string>
	<key>vip_receiveded_prompt</key>
	<string>亲爱的VIP玩家，您今天已经领取过了，请明天再来！</string>
	<key>full_vip_tip</key>
	<string>您已经成为征服大海的男人了！</string>
	<key>not_vip_prompt</key>
	<string>您不是Vip会员</string>
	<key>daily_receive_failed</key>
	<string>今天的抽奖机会已经用完，请明天再来!</string>
	<key>share_suc_gold</key>
	<string>获得金币:</string>
	<key>receive_gold_success</key>
	<string>成功领取%llu金币</string>
	<key>time_award_get_failed</key>
	<string>领取金币失败</string>
	<key>time_award_click</key>
	<string>点击领取\n%d金币</string>
	<key>gold_txt</key>
	<string>金币</string>
	<key>telephone_bill_txt</key>
	<string>话费</string>
	<key>treasure_map_txt</key>
	<string>藏宝图</string>
	<key>rank_txt_1</key>
	<string>第一名</string>
	<key>rank_txt_2</key>
	<string>第二名</string>
	<key>rank_txt_3</key>
	<string>第三名</string>
	<key>rank_txt_4</key>
	<string>第四名</string>
	<key>rank_txt_5</key>
	<string>第五名</string>
	<key>rank_txt_6</key>
	<string>第六名</string>
	<key>rank_txt_7</key>
	<string>第七名</string>
	<key>rank_txt_8</key>
	<string>第八名</string>
	<key>rank_txt_9</key>
	<string>第九名</string>
	<key>rank_txt_10</key>
	<string>第十名</string>
	<key>rank_txt_11</key>
	<string>第十一名</string>
	<key>rank_txt_12</key>
	<string>第十二名</string>
	<key>rank_txt_13</key>
	<string>第十三名</string>
	<key>rank_txt_14</key>
	<string>第十四名</string>
	<key>rank_txt_15</key>
	<string>第十五名</string>
	<key>rank_txt_16</key>
	<string>第十六名</string>
	<key>rank_txt_17</key>
	<string>第十七名</string>
	<key>rank_txt_18</key>
	<string>第十八名</string>
	<key>rank_txt_19</key>
	<string>第十九名</string>
	<key>rank_txt_20</key>
	<string>第二十名</string>
	<key>time_txt</key>
	<string>时间</string>
	<key>tip_pwd</key>
	<string>提醒：密码是游戏登录密码和银行密码</string>
	<key>nick_format</key>
	<string>昵称:%s</string>
	<key>gameId_format</key>
	<string>ID:%ld</string>
	<key>input_table_id</key>
	<string>请输入桌子ID</string>
	<key>no_search_table_result</key>
	<string>没有搜到相关桌子，请重新搜索!</string>
	<key>vip_tip1</key>
	<string>恭喜您成为VIP</string>
	<key>vip_tip2</key>
	<string>继续加油！</string>
	<key>first_recharge_had_bought</key>
	<string>你已经购买了首充礼包，不能再次购买。充值越多，VIP等级越高，每天可以领取的VIP金币会越多。</string>
	<key>vip_limit_content</key>
	<string>(限时3天结束)</string>
	<key>mail_content_type_5</key>
	<string>        尊敬的玩家，现在市场上找到一款真正的联机捕鱼越来越难，很\n难找到和小伙伴一起打鱼的乐趣，毕竟一个人在一个房间时孤独的，\n而我们是真正意义的联网捕鱼，可以和小伙伴在一个房间打鱼，一起\n打比赛，一起赢话费。如果你真的喜欢我们，请把他分享给你的小\n伙伴，邀请他们一起捕鱼。</string>
	<key>mail_content_type_6</key>
	<string>        为了感谢大家对《捕鱼游戏》的支持，我们推出优惠活动礼包活\n动。原价30元30万金币，我们改成30元送永久vip1，捕鱼自动开炮，\n30w金币，每天登陆领取5000金币（永久），提升打中话费的概率，\n赠送藏宝图，每单笔充值满100元返2%金币。</string>
	<key>mail_content_type_7</key>
	<string>        如果用户需要用账号密码登入的话，请点击头像－－然后选择昵\n称密码进行修改，这样记下账号和密码。换一个手机也可以登入我们\n的游戏。</string>
	<key>none_grap_redpacket</key>
	<string>抢红包时间没到,每天12点16点19点22点24点开抢红包.</string>
	<key>have_grap_repacket</key>
	<string>你已经抢过一次，现在不能抢了。等下个时间段再来抢红包吧。</string>
	<key>activity_title</key>
	<string>本轮活动共获得</string>
	<key>room_not_opened</key>
	<string>暂未开放，耐心等待</string>
	<key>red_packet_info_time</key>
	<string>倒计时</string>
	<key>red_packet_info_gold</key>
	<string>金币</string>
	<key>red_packet_info_hf</key>
	<string>话费券</string>
	<key>red_packet_text_content</key>
	<string>双击屏幕可以连跳哦~</string>
	<key>active_push_title</key>
	<string>公告</string>
	<key>active_push_stitle</key>
	<string>全民抢红包已开启</string>
	<key>active_content</key>
	<string>每天：12点,4点，9点，22点，24点开抢红包</string>
	<key>active_notice</key>
	<string>(也可以通过大厅的精彩活动－全民抢红包进入)</string>
	<key>red_pack_add_error</key>
	<string>抢红包数据异常，领取失败</string>
	<key>gain_txt</key>
	<string>获得</string>
	<key>not_bought_weapon</key>
	<string>充值升级VIP可以获得该武器</string>
	<key>not_enough_gold_to_play</key>
	<string>不好意思，房间最低金币限制为%d，您现在金币不够。</string>
	<key>treasure_map_complete</key>
	<string>恭喜你在大海宝藏夺宝结束,你已经收获得了%d金币和%d话费券,看来收获很满,希望有机会下次还看到你!</string>
	<key>got_award_gold</key>
	<string>领取</string>
	<key>visitor_name</key>
	<string>游客登录</string>
	<key>network_select</key>
	<string>网络选择</string>
	<key>poor_network</key>
	<string>您的网络状况不佳,请检查您的网络连接!</string>
	<key>poor_network_and_retry</key>
	<string>您的网络状况不佳,连接服务器失败,点击确定重试!</string>
	<key>qq_not_installed</key>
	<string>分享失败,请安装最新版的QQ后在进行分享!</string>
	<key>share_success</key>
	<string>恭喜你,分享成功!</string>
	<key>mailbox_empty</key>
	<string>现在还没有新的邮件。</string>
	<key>refresh_room_list_failed</key>
	<string>非常抱歉,刷新房间列表失败，亲，请您重试一下</string>
</dict>
</plist>
