<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spray_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,836},{166,174}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,32},{166,174}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>spray_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,652},{180,182}}</string>
                <key>offset</key>
                <string>{-6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,15},{180,182}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>spray_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{200,206}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,15},{200,206}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>spray_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,446},{214,204}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,15},{214,204}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>spray_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,230},{214,214}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{214,214}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>spray_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{218,222}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{218,222}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>spray_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{226,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,226}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>spray_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{226,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,226}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>spray.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:61f25ba56b5e50a1e3fddd5beefa35ab:1/1$</string>
            <key>textureFileName</key>
            <string>spray.png</string>
        </dict>
    </dict>
</plist>
